<header>
  <customer-summary customer="customer"></customer-summary>
  <hr>
</header>

<form novalidate name="form">
  <div class="row">
    <div class="col-md-6">
    <article class="panel panel-primary">
      <header class="panel-heading">
        <h2>Customer</h2>
      </header>
      <section class="panel-body">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label class="sr-only" for="first-name">First Name</label>
              <input type="text" name="first-name" class="form-control" ng-model="customer.first_name" required>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label class="sr-only" for="last-name">Last Name</label>
              <input type="text" name="last-name" class="form-control" ng-model="customer.last_name" required>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label class="sr-only" for="username">Username</label>
              <div class="input-group">
                <div class="input-group-addon">@</div>
                <input type="text" name="username" class="form-control" ng-model="customer.username" required>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group has-feedback" ng-class="{'has-error': form.email.$invalid && form.email.$dirty, 'has-success': form.email.$valid && form.email.$touched}">
          <label class="sr-only" for="email">Email</label>
          <input type="email" name="email" class="form-control" ng-model="customer.email" required>
          <p class="help-block" ng-messages="form.email.$error">
            <span ng-message="required">Email is required</span>
            <span ng-message="email">Email must look like an email</span>
          </p>
        </div>
      </section>
      <footer class="panel-footer">
        <label for="joined">Joined</label>
        {{ customer.joined_at | date }}
      </footer>
    </article>
    
      <article class="panel panel-default">
        <header class="panel-heading">
          <h2>Shipping Address</h2>
        </header>
      </article>
      
      <div class="form-group">
        <label class="sr-only" for="street-address">Street Address</label>
        <input type="text" name="street-address" class="form-control" ng-model="customer.shipping_street" required>
      </div>

      <div class="form-group">
        <label class="sr-only" for="street-address-extra">Street Address Extra</label>
        <input type="text" name="street-address-extra" class="form-control" value="Unit 101" required>
      </div>

      <div class="row">
        <div class="col-md-6 col-xs-12">
          <div class="form-group">
            <label class="sr-only" for="city">City</label>
            <input type="text" name="city" ng-model="customer.shipping_city" class="form-control" required>
          </div>
        </div>

        <div class="col-md-2 col-xs-4">
          <div class="form-group">
            <label class="sr-only" for="state">State</label>
            <input type="text" name="state" ng-model="customer.shipping_state" class="form-control" required pattern="[A-Z][A-Z]">
          </div>
        </div>

        <div class="col-md-4 col-xs-8">
          <div class="form-group"> 
            <label class="sr-only" for="shippingZip">Zip</label>
            <input type="text" name="shippingZip" ng-model="customer.shipping_zipcode" class="form-control" required pattern="\d\d\d\d\d">
            <p class="help-block" ng-messages="form.shippingZip.$error">
              <span ng-message="required">Zip is required</span>
              <span ng-message="pattern">Zip must be five digits</span>
            </p>
          </div>
        </div>

      </div>
    </div>


    <div class="col-md-6">
      <article class="panel panel-default">
        <header class="panel-heading">
          <h2 class="h4">Billing Info</h2>
        </header>
      </article>
      
      <div class="row" ng-controller="CustomerCreditCardController" ng-init="setCardholderId(customerId)">
        <div ng-if="!creditCard.$resolved">
          <div class="col-md-10 col-md-offset-1">
            <aside class="progress">
              <div class="progress-bar progress-bar-striped active" style="width: 100%">
                Loading...
              </div>
            </aside>
          </div>
        </div>

        <div ng-if="creditCard.$resolved">
          <div class="col-md-7">
            <p class="h4">
              ****_****_****_{{ creditCard.lastFour }}
              <span class="label label-success">{{creditCard.cardType}}</span>
            </p>
            <p>
              <label>Expires:</label>
              {{creditCard.expirationMonth}}/{{creditCard.expirationYear}}
            </p>
          </div>
          <div class="col-md-5 text-right">
            <a href="{{creditCard.detailsLink}}">
              <button class="btn btn-lg btn-default">
                View Details...
              </button>
            </a>
          </div>
        </div>
      </div>

      
      <h3>Billing Address
        <input type="checkbox"> Same as shipping
      </h3>

      <div class="form-group">
        <label class="sr-only" for="street-address">Street Address</label>
        <input type="text" name="street-address" class="form-control" ng-model="customer.billing_street">
      </div>

      <div class="form-group">
        <label class="sr-only" for="street-address-extra">Street Address Extra</label>
        <input type="text" name="street-address-extra" class="form-control" value="Unit 101">
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="sr-only" for="city">City</label>
            <input type="text" name="city" ng-model="customer.billing_city" class="form-control">
          </div>
        </div>

        <div class="col-md-2">
          <div class="form-group">
            <label class="sr-only" for="state">State</label>
            <input type="text" name="state" ng-model="customer.billing_state" class="form-control">
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group"> 
            <label class="sr-only" for="zip">Zip</label>
            <input type="text" name="zip" ng-model="customer.billing_zipcode" class="form-control">
          </div>
        </div>

      </div>

      <div class="text-right">
        <button ng-click="save()" class="btn btn-lg btn-primary" ng-disabled="form.$invalid || form.$pristine">
          Save Changes 
        </button>
      </div>

    </div>
  </div>
</form>
